/*#frm2 {
    position: absolute;
    top: 400px;
    right: 0;
    width: 400px;
    height: 300px;
    border: 3px solid #73AD21;
}
*/

/*iframe{
    overflow:hidden;
    scrolling="no";
    float:left;margin:10px 20px 10px 0px;
}*/

/*#frm2 {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}*/
 html, body { height: 100% }

iframe {
    position: absolute;
    width: 100%;
}

.navbar {
    /*background-color: blue;*/
}
